* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
    border: 0;
}
table, td {
    border-spacing: 0;
}
td, img { 
    padding: 0; 
    margin: 0; 
}
img {
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;            
    border-width: 0; 
    display: block;
}
td { 
    position: relative;
    border: 1px solid #000000;
    display: none;
}
li {
    margin: 0 0 8px 0;
}
li p {
    margin-top: 2px;
}
.imageNumber {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: inline-block;
    padding: 0 5px 3px 5px;
    font-weight: bold;
    font-size: 20px;
}
#watermark {
    position: absolute;
    background-color: white;
    padding: 0 5px 0 5px;
    font-weight: bold;
    opacity: 0.5;
    top: 50px;
    left: 50px;
    z-index: 100;
    display: none;
}
@media print, screen and (max-width: 600px) {
    #watermark, .imageNumber  {
        font-size: 9px;
    }
    .imageNumber  {
        padding: 0 3px 1px 3px;
    }
    #watermark {
        padding: 0 3px 0px 3px;
    }
}
@media print { 
    h2, #instructions {
        display: none;
    }
}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.tip {
    font-size: 12px;
}