body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
h2 {
    font-weight: bold;
}
p {
    margin-bottom: 12px;
}
ol {
    list-style: decimal;
    margin-left: 26px;
}
#content {
    padding: 6px;
    max-width: 1000px;
    margin: auto;
}
h2 {
    background-color: #b8e4e2;
    margin-top: 0;
    margin-bottom: 0;
    padding: 4px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    text-align: center;
    font-size: 18px;
}
table {
    border: 0;
}
table, td {
    border-spacing: 0;
}
td, img { 
    padding: 0; 
    margin: 0; 
}
#pictureQuizGrid img {
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;            
    border-width: 0; 
    display: block;
}
#pictureQuizGrid.cropImages img {
    object-fit: cover;
}
#pictureQuizGrid img.cropImage {
    object-fit: cover;
}
td { 
    position: relative;
    border: 1px solid #000000;
}
li {
    margin: 0 0 8px 0;
}
li p {
    margin-top: 2px;
}
.imageNumber {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: inline-block;
    padding: 0 5px 3px 5px;
    font-weight: bold;
    font-size: 20px;
}
#watermark {
    position: absolute;
    background-color: white;
    padding: 0 5px 0 5px;
    font-weight: bold;
    opacity: 0.5;
    top: 50px;
    left: 50px;
    z-index: 100;
    cursor: move;
}
@media print, screen and (max-width: 600px) {
    #watermark, .imageNumber  {
        font-size: 9px;
    }
    .imageNumber  {
        padding: 0 3px 1px 3px;
    }
    #watermark {
        padding: 0 3px 0px 3px;
    }
}
@media print { 
    h2, #main, #instructionsBlock {
        display: none;
    }
}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.tip {
    font-size: 12px;
}
#main, #instructions {
    float: left;
}
#main {
    width: 57%;
    padding-right: 10px;
}
#instructions {
    width: 40%;
    border: 1px solid #999999;
    padding: 6px;
    background-color: #EBF4F4;
}
#intro {
    font-weight: bold;
}
#controls {
    border: 1px solid #999999;
    background-color: #F4F4F4;
    padding: 5px;
}
#showInstructions {
    display: none;
    margin-bottom: 10px;
}
@media screen and (max-width: 820px) {
    #instructions {
        display: none;
        width: 96%;
        margin-top: 8px;
    }
    #main {
        width: 100%;
        float: initial;
    }
    #showInstructions {
        display: inline;
    }
}
