body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 18px;
}

p {
    margin-block-start: 0;
    margin-bottom: 12px;
}

ol {
    list-style: decimal;
    padding-inline-start: 20px;

    li {
        margin-bottom: 8px;

        p {
            margin-top: 2px;
        }
    }
}

h2 {
    background-color: #7bcbc7;
    margin-top: 0;
    margin-bottom: 6px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

#content {
    padding: 6px;
    max-width: 1000px;
    margin: auto;
}

#pictureQuizGrid {
    position: relative;
    width: 100%;
    // display: none;

    #watermark {
        position: absolute;

        top: 50px;
        left: 50px;
        z-index: 100;
        cursor: move;

        &:empty {
            padding: 0;
        }

        #watermarkText {
            background-color: white;
            color: black;
            padding: 3px 5px 3px 5px;
            font-weight: bold;
            opacity: 0.5;

            &.highlight {
                opacity: 1;
                background-color: yellow;
            }
        }
    }

    #grid {
        width: 100%;
        margin: auto;

        & > div {
            display: inline-block;
            position: relative;
            outline: 1px solid black;
            margin-right: -1px;
            margin-bottom: -3px;
            background-color: #d5e0df;

            /* Trick to make sure divs are square (same height as the width) */
            &:before {
                content: '';
                float: left;
            }
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: contain;
            //image-rendering: -webkit-optimize-contrast; // seems to cause pixellation of images, in Edge at least
            border-width: 0;
            display: block;

            &.cropImage {
                object-fit: cover;
            }
        }

        &.cropImages {
            img {
                object-fit: cover;
            }
        }
    }

    #grid.square > div:before {
        padding-top: 100%; /* 1:1 aspect ratio */
    }
    #grid.portrait > div:before {
        padding-top: 133.33%; /* 3:4 aspect ratio */
    }
    #grid.portraitTall > div:before {
        padding-top: 177.77%; /* 9:16 aspect ratio */
    }
    #grid.landscape > div:before {
        padding-top: 75%; /* 4:3 aspect ratio */
    }
    #grid.landscapeWide > div:before {
        padding-top: 56.25%; /* 16:9 aspect ratio */
    }
}

#pageUrl {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 20px;
}

.imageNumber,
.spaceForAnswer,
.answer {
    position: absolute;
    background-color: white;
    font-weight: bold;
}

.imageNumber {
    top: 3px;
    left: 3px;
    display: inline-block;
    padding: 2px 5px 4px 5px;
    font-size: 20px;
    line-height: 100%;
    z-index: 100;
    border: 1px solid black;
    border-radius: 4px;

    &.small {
        font-size: 13px;
    }
}

.spaceForAnswer,
.answer {
    font-size: 15px;
    z-index: 200;
    line-height: 12px;
}

.answer {
    text-align: right;
    right: 4px;
    bottom: 4px;
    margin-left: 4px;
    padding: 1px 2px 3px 2px;
}

.spaceForAnswer {
    left: 7px;
    right: 8px;
    bottom: 4px;
    height: 20px;
    background-color: white;
}

.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.tip {
    font-size: 12px;
}

#main,
#instructions {
    float: left;
}

#main {
    width: 50%;
    padding-right: 10px;
}

#instructions {
    width: 45%;
    padding: 10px;
    background-color: #d5e0df;
    border-radius: 6px;
}

#overview {
    padding: 10px;
    background-color: #b8e4e2;
    border-radius: 6px;
    margin-bottom: 10px;
}

#intro {
    font-weight: bold;
    padding-bottom: 8px;
}

#options {
    background-color: #d5e0df;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
    border-radius: 6px;
    font-size: 14px;

    label {
        text-align: right;
    }

    select,
    input {
        width: min-content;
    }

    .slider {
        margin-left: 4px;
        margin-right: 8px;
        margin-top: 3px;
    }
}

#gridSizeSlider {
    width: 80%;
    height: 10px;
}

#fileSelector {
    opacity: 0;
    position: absolute;
    z-index: -1;
    display: block;
}

label#fileSelectorLabel {
    cursor: pointer;
    text-align: left;
    border: 1px solid black;
    width: min-content;
    background-color: #ffffff;
    padding: 6px 8px;
    white-space: nowrap;
    font-size: 13px;
    border-radius: 2px;
    background-color: #09968f;
    color: white;
}

#showInstructions {
    display: none;
    margin-bottom: 10px;
}

#sampleImage {
    float: right;
    margin-left: 10px;
}

@media screen {
    body.darkMode {
        background-color: black;
        color: white;

        input,
        select,
        button {
            background-color: #333333;
            color: white;
        }

        .imageNumber,
        .answer {
            background-color: black;
        }

        .imageNumber {
            background-color: black;
            border: 1px solid white;
        }

        #pictureQuizGrid #grid > div {
            outline: 1px solid white;
            background-color: #222222;
        }

        h2 {
            background-color: #09968f;
            color: black;
        }

        #options {
            background-color: #242424;
        }

        #overview {
            background-color: #033835;
        }

        #instructions {
            background-color: #242424;
        }
    }
}

@media print, screen and (max-width: 600px) {
    #watermark {
        font-size: 9px;
    }
    .imageNumber {
        padding: 1px 3px 1px 3px;
    }
    #watermark {
        padding: 0 3px 0px 3px;
    }
    .spaceForAnswer {
        left: 4px;
        right: 4px;
        bottom: 2px;
        height: 12px;
    }
}

@media screen and (max-width: 600px) {
    .answer,
    .imageNumber {
        font-size: 9px;
    }
}

@media screen and (max-width: 900px) {
    #instructions {
        display: none;
        width: 96%;
        margin-top: 8px;
    }
    #main {
        width: 100%;
        float: initial;
    }
    #showInstructions {
        display: inline;
    }
}

@media print {
    h2,
    #main,
    #instructionsBlock {
        display: none;
    }
}

.ie-only {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    // These styles will be applied to IE10/IE11 only, allowing us to indicate we don't support IE

    * {
        display: none;
    }

    html,
    body,
    .ie-only {
        display: block;
    }

    .ie-only {
        margin: auto;
        width: 500px;
        text-align: center;
        padding-top: 100px;

        br {
            display: block;
        }
    }
}
